@font-face {
	font-family: 'VT323', monospace;
}
body {
	background-color: #263238;
}
#centerSignOn {
	position: absolute;
	top: 50%;
	justify-content: right;
	right: 0;
}
#login {
	vertical-align: top;
	font-size: 2em;
	border: 1px solid white;
	background-color: black;
	color: green;
	font-family: VT323;
	padding-top: 8px;
	padding-bottom: 8px;
}

form div img {
	height: 50px;
	text-align: center;
	background-color: white;
}
#profileHolder {
	position: relative;
	top: 0;
	left: 0;
}
#greenText {
	color: green;
}
.profileWordPosition {
	position: absolute;
	color: white;
	top: 220px;
	left: 370px;
	font-size: 3em;
}
#monospaceFont {
	font-family: VT323;
}
#profilePlacement {
	position: absolute;
	left: 24px;
	top: 30px;
	}