@font-face {
	font-family: 'VT323', monospace;
}
#centerSignOn {
	position: absolute;
	top: 50%;
	justify-content: right;
	right: 0;
}
#login {
	vertical-align: top;
	font-size: 2em;
	border: 1px solid white;
	background-color: black;
	color: green;
	font-family: VT323;
	padding-top: 8px;
	padding-bottom: 8px;
}

form div img {
	height: 50px;
	text-align: center;
	background-color: white;
}

#password-text a {
	font-size: 1.5em;
	color: green;
	text-decoration: none;
	font-family: VT323;
}