@font-face {
	font-family: 'VT323', monospace;
}
body {
	background-color: #263238;
	background-image: url(../res/moon.jpg);
	background-repeat: no-repeat;
	background-size: auto 100vh;
	background-position-x: -30vw;
}
#centerSignOn {
	position: absolute;
	top: 50%;
	justify-content: right;
	right: 0;
	margin-right: 30px;
}
#login {
	vertical-align: top;
	font-size: 2em;
	border: 1px solid white;
	background-color: black;
	color: green;
	font-family: VT323;
	padding-top: 8px;
	padding-bottom: 8px;
}

form div img {
	height: 50px;
	text-align: center;
	background-color: white;
}
#profileHolder {
	position: relative;
	top: 0;
	left: 0;
}
#greenText {
	color: green;
}
.profileWordPosition {
	position: absolute;
	color: white;
	top: 220px;
	left: 370px;
	font-size: 3em;
}
#monospaceFont {
	font-family: VT323;
}
#profilePlacement {
	position: absolute;
	left: 24px;
	top: 30px;
	}
.main-container {
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 1;
	flex-grow: 0;
}
.placeholder-image {
	border: 1px solid white;
	color: green;
	font-size: 2em;
	text-align: center;

	width: 400px;
	height: 400px;
	margin-right: 150px;
}
.placeholder-text {
	border: 1px solid white;
	color: green;
	font-size: 2em;
	text-align: center;

	width: 1200px; 
	height: 900px;
}
#password-text a {
	font-size: 1.5em;
	color: green;
	text-decoration: none;
	font-family: VT323;
}
